@model MVCTEST.ViewModel.CustomerViewModel 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    @using (Html.BeginForm("Customer", "Customer", FormMethod.Post))
    {
            <div>
                Customer Code: @Html.TextBoxFor(m=>m.customer.CustomerCode) <br/>
                Customer Name: @Html.TextBoxFor(m=>m.customer.CustomerName ) <br/>
                  <input type="submit" name="Enter" value="Enter" />>
            </div>
    }
</body>
</html>
.