@model MVCTEST.Models.Customer

@{
    ViewBag.Title = "Enter";
}
<h2>Enter Customer data</h2>  <br/>

                              <form action="Customer" method="post">
                                  <div>
                                      Customer Code:- <input type="text" name="CustomerCode" value="" /> <br />
                                      Customer Name:- <input type="text" name="CustomerName" value="" /> <br />
                                      <input type="submit" name="Enter" value="Enter" />
                                  </div>
                              </form>



